* {
    height: 100%;
}

#content {
    width:100%;
    height: 100%;
    display: table;
    text-align: center;
    font-family: Kanit, Helvetica, sans-serif;
    font-size: 28px;
    font-weight: 500;
}

#centered-cell {
    display: table-cell;
    vertical-align: middle;
}